@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
	/* font-family: "Open Sans", sans-serif; */
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}
.App {
	text-align: center;
}
.main-input {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.main-input input {
	padding: 0.5rem;
	margin-right: 1rem;
	/* margin-bottom: 1rem; */
}
.main-input button {
	font-family: "Poppins", sans-serif;
	background-color: #4f9ceb;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 10px 50px;
	margin-bottom: 0.5rem;
	cursor: pointer;
}
.results {
	margin: 0 auto;
	width: 25%;
	text-align: left;
	display: flex;
	flex-direction: column;
	/* text-align: left; */
}
.results h3 {
	text-align: center;
}
.results div {
	border: 1px solid #ccc;
	/* box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 6px 10px 0 rgb(0 0 0 / 10%); */
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 1.2rem;
	/* font-style: italic; */
	text-align: center;
}
.view-results:hover {
	background-color: #4f9ceb;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
}
.view-results:hover > .type-result {
	border: 1px solid #fff;
	color: #fff;
}
.view-results {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.type-result {
	border: 1px solid #4f9ceb;
	color: #4f9ceb;
	font-size: 0.8rem;
	padding: 4px 8px;
	border-radius: 5px;
}
/* .type-result:hover {
	border: 1px solid #fff;
	color: #fff;
} */
@media screen and (max-width: 625px) {
	body {
		font-size: 12px;
	}
	.results {
		width: 100%;
	}
}
