@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
.App {
	text-align: center;
}
.main-input {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.main-input input {
	padding: 0.5rem;
	margin-right: 1rem;
	/* margin-bottom: 1rem; */
}
.main-input button {
	background-color: #4f9ceb;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 10px 50px;
	margin-bottom: 0.5rem;
	cursor: pointer;
}
